In [6]:
import pandas as pd

df = pd.read_csv("250623/서울_대기오염_데이터_2025 (1).csv")  # 파일 경로에 맞게 입력

# 인덱스 출력
df

,날짜,PM10,PM2.5,O3,NO2,SO2,CO,기온(°C),습도(%)
0,2025-01-01,54.967142,30.776620,0.023128,0.044413,0.004519,0.493732,13.356921,34.613031
1,2025-01-02,48.617357,37.749160,0.015714,0.015641,0.005533,0.595514,-6.297069,82.943255
2,2025-01-03,56.476885,24.383575,0.014646,0.041632,0.003891,0.401427,10.298042,57.629882
3,2025-01-04,65.230299,27.378703,0.022412,0.030102,0.004402,NaN,19.415686,53.596784
4,2025-01-05,47.658466,26.863135,0.018883,0.020185,0.004690,NaN,-19.716445,44.818434
...,...,...,...,...,...,...,...,...,...
85,2025-03-27,44.982430,36.617466,0.013761,0.019975,0.004670,0.504740,-0.112157,76.549528
86,2025-03-28,NaN,30.104015,0.028162,0.029815,0.004367,0.413959,-4.896048,61.713415
87,2025-03-29,53.287511,41.628273,0.012849,0.027113,0.003060,0.461544,3.742131,62.254526
88,2025-03-30,44.702398,NaN,0.017800,0.033227,0.003486,0.600629,5.557249,NaN
89,2025-03-31,NaN,51.761353,0.020654,0.021728,0.002941,0.442311,15.941915,59.145816

In [13]:
df.reset_index(inplace=False)

,level_0,index,날짜,PM10,PM2.5,O3,NO2,SO2,CO,기온(°C),습도(%)
0,0,0,2025-01-01,54.967142,30.776620,0.023128,0.044413,0.004519,0.493732,13.356921,34.613031
1,1,1,2025-01-02,48.617357,37.749160,0.015714,0.015641,0.005533,0.595514,-6.297069,82.943255
2,2,2,2025-01-03,56.476885,24.383575,0.014646,0.041632,0.003891,0.401427,10.298042,57.629882
3,3,3,2025-01-04,65.230299,27.378703,0.022412,0.030102,0.004402,NaN,19.415686,53.596784
4,4,4,2025-01-05,47.658466,26.863135,0.018883,0.020185,0.004690,NaN,-19.716445,44.818434
...,...,...,...,...,...,...,...,...,...,...,...
85,85,85,2025-03-27,44.982430,36.617466,0.013761,0.019975,0.004670,0.504740,-0.112157,76.549528
86,86,86,2025-03-28,NaN,30.104015,0.028162,0.029815,0.004367,0.413959,-4.896048,61.713415
87,87,87,2025-03-29,53.287511,41.628273,0.012849,0.027113,0.003060,0.461544,3.742131,62.254526
88,88,88,2025-03-30,44.702398,NaN,0.017800,0.033227,0.003486,0.600629,5.557249,NaN
89,89,89,2025-03-31,NaN,51.761353,0.020654,0.021728,0.002941,0.442311,15.941915,59.145816

In [14]:
df.columns

Index(['index', '날짜', 'PM10', 'PM2.5', 'O3', 'NO2', 'SO2', 'CO', '기온(°C)',
       '습도(%)'],
      dtype='object')

In [7]:
df.head()

,날짜,PM10,PM2.5,O3,NO2,SO2,CO,기온(°C),습도(%)
0,2025-01-01,54.967142,30.776620,0.023128,0.044413,0.004519,0.493732,13.356921,34.613031
1,2025-01-02,48.617357,37.749160,0.015714,0.015641,0.005533,0.595514,-6.297069,82.943255
2,2025-01-03,56.476885,24.383575,0.014646,0.041632,0.003891,0.401427,10.298042,57.629882
3,2025-01-04,65.230299,27.378703,0.022412,0.030102,0.004402,NaN,19.415686,53.596784
4,2025-01-05,47.658466,26.863135,0.018883,0.020185,0.004690,NaN,-19.716445,44.818434

In [11]:
df.columns

Index(['index', '날짜', 'PM10', 'PM2.5', 'O3', 'NO2', 'SO2', 'CO', '기온(°C)',
       '습도(%)'],
      dtype='object')